.container-table100  {
    color: #666666;
    margin-bottom: 50px;
}
.wrap-table100  {
    display: flex;
    flex: auto;
}

.wrap-table100 > .table100-col  {
    margin-left: 100px;
    margin-bottom: 30px;
}
.wrap-table100 > .table-sel {
    border: 1px solid #777777;
    width: 100%;
    padding-bottom: 30px;
}
#first {
    margin-left: 70px;
}

#second {
    float: right;;
    margin-left: 130px;
}

.table-sel {
    display: flex;
}

.wrap-table100 > #empty {

}

th  {
    font-size: 2.1em;
    padding: 20px;
    color: #222222;
    padding-left: 15px;
    padding-top: 40px;
    padding-bottom: 30px;
}

td  {
    font-size: 1.5em;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #1cceea;
    background: #00bcd4;;
    color: #ffffff;
}
table {
    border-collapse: separate;
    border-spacing: 10px;
}
